Source: salt-formula-mosquitto
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-mosquitto
Vcs-Git: https://github.com/tcpcloud/salt-formula-mosquitto.git

Package: salt-formula-mosquitto
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: mosquitto salt formula
 Install and configure mosquitto system.
